html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #ecf0f1;
}

#container {
  width: 96%;
  margin: 0 auto;
  color: white;
  font-size: 22px;
}

#container > *:not(#srodek_strony) {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container #srodek_strony {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0px;
}

#container header {
  background-color: #27ae60;
}

#container header #logo {
  width: 300px;
  margin: 10px 20px;
}

#container header #logo img {
  width: 250px;
}

#container header #menu_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#container header #menu {
  position: relative;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
}

#container header #menu li {
  list-style: none;
}

#container header #menu li a {
  text-decoration: none;
  color: white;
  display: block;
}

#container header #menu li a:visited {
  color: white;
}

#container header #menu li a:link {
  color: white;
}

#container header #menu > li {
  float: left;
  -webkit-box-shadow: 6px 10px 15px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 10px 15px 0px rgba(0, 0, 0, 0.75);
  position: relative;
}

#container header #menu > li:first-child > a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#container header #menu > li:last-child > a {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#container header #menu > li:hover ul {
  display: block;
}

#container header #menu > li ul {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 36, 206, 0.9)), to(rgba(36, 157, 191, 0.9)));
  background: linear-gradient(to bottom, rgba(17, 36, 206, 0.9) 0%, rgba(36, 157, 191, 0.9) 100%);
  position: absolute;
  left: 15px;
  display: none;
}

#container header #menu > li ul li a {
  padding: 25px 55px;
  border-bottom: 1px solid #dfe6e9;
  -webkit-transition: 1s;
  transition: 1s;
}

#container header #menu > li ul li a:hover {
  -webkit-transition: 1s;
  transition: 1s;
  background: -webkit-gradient(linear, left top, left bottom, from(#1124ce), to(#249dbf));
  background: linear-gradient(to bottom, #1124ce 0%, #249dbf 100%);
  color: #feca57;
}

#container header #menu > li > a {
  border-left: 2px solid #dfe6e9;
  border-bottom: 2px solid #dfe6e9;
  padding: 25px;
  font-size: 28px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 36, 206, 0.8)), to(rgba(36, 157, 191, 0.8)));
  background: linear-gradient(to bottom, rgba(17, 36, 206, 0.8) 0%, rgba(36, 157, 191, 0.8) 100%);
  -webkit-transition: 1s;
  transition: 1s;
}

#container header #menu > li > a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: -webkit-gradient(linear, left top, left bottom, from(#1124ce), to(#249dbf));
  background: linear-gradient(to bottom, #1124ce 0%, #249dbf 100%);
  color: #feca57;
}

#container nav {
  background-color: #10ac84;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container article {
  background-color: #b2bec3;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  padding: 25px;
  text-align: justify;
  text-indent: 2%;
}

#container article h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
  color: red;
}

#container article .przycisk_3d {
  margin: 50px auto;
  display: table;
  width: 300px;
}

#container article .przycisk_3d a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 25px;
  border: 1px solid #368fcf;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#368fcf), color-stop(50%, #29e332), to(#368fcf));
  background: linear-gradient(to bottom, #368fcf 0%, #29e332 50%, #368fcf 100%);
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#container article .przycisk_3d a:hover {
  opacity: 1;
}

#container article .przycisk_3d a:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.9);
          box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.9);
}

#container aside {
  background-color: #10ac84;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container footer {
  background-color: #2ecc71;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */